.container{
    padding: 20px;
    div{
        display: inline-block;
        width: 20%;
        background-color: cornflowerblue;
        margin: 10px;
        text-align: center;
        padding-bottom: 10px;
    }
    button{
        border: 1px solid black;
        background-color: rgba(100, 98, 98, 0.534);
        border-radius: 5px;
    }
}