<form action='/sessions' method='post'>
    <p>Name</p>
    <input type='text' name='name'>
    <p>Password</p>
    <input type="password" name="password">
    <br>
    <input type='submit' value='login'>
</form>
